/*IPAD*/
@media only screen and (max-width: 768px) {
  .intro-text {
    left: 55px;
    top: 300px;
    width: 80%;
    line-height: 2;
  }

  .light-green-container {
    width: 600px;
    left: 110px;
    height: 800px;
    top: 190px;
  }

  .dark-green-container {
    width: 600px;
    left: 50px;
    height: 835px;
    top: 230px;
  }
}

/*IPHONE 6+*/
@media only screen and (max-width: 414px) {
  .mw-logo {
    position: absolute;
    left: 10px;
    top: 5px;
    width: 140px;
    height: 30px;
  }

  .minimalist-wardrobe-header {
    width: 50%;
    margin-left: 47%;
    position: absolute;
    top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    z-index: 999;
  }

  .minimalist-wardrobe-header a {
    font-size: 14px;
  }

  .header-container {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 999;
    background: white;
  }

  .intro-text {
    left: 40px;
    top: 110px;
    line-height: 1.5;
  }

  .light-green-container {
    width: 300px;
    left: 65px;
    height: 805px;
    top: 70px;
  }

  .dark-green-container {
    width: 300px;
    left: 45px;
    height: 835px;
    top: 100px;
  }

  .dark-green-container h5 {
    font-size: 21px;
  }

  .product-card.small-text {
    height: 450px;
  }

  .product-card.large-text {
    height: 550px;
  }

  .product-card.medium-text {
    height: 500px;
  }
}

/*IPHONE 6*/
@media only screen and (max-width: 375px) {
  .intro-text {
    top: 145px;
    font-size: 40px;
    left: 25px;
  }

  .light-green-container {
    left: 45px;
    height: 800px;
  }

  .dark-green-container {
    left: 25px;
    height: 830px;
  }

  .minimalist-wardrobe-header {
    top: 12px;
  }
}


/* IPHONE 10, IPHONE x */
@media only screen and (max-width: 375px) and (min-height: 750px) {
  .intro-text {
    top: 190px;
  }

  .light-green-container {
    width: 300px;
    left: 45px;
    height: 800px;
    top: 70px;
  }

  .dark-green-container {
    width: 300px;
    left: 25px;
    height: 830px;
    top: 100px;
  }
}

/*IPHONE 5*/
@media only screen and (max-width: 320px) {
  .intro-text {
    top: 110px;
    font-size: 35px;
    left: 25px;
    line-height: 1.5;
  }

  .minimalist-wardrobe-header {
    margin-left: 49%;
    top: 12px;
  }

  .minimalist-wardrobe-header a {
    font-size: 12px;
  }

  .light-green-container {
    width: 250px;
    left: 42px;
    height: 850px;
    top: 70px;
  }

  .dark-green-container {
    width: 250px;
    left: 22px;
    height: 1200px;
    top: 100px;
  }
}
