html,body, .header-video {
   height: 100%;
   margin: 0;
   overflow: scroll;
}

.header-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.close-card {
  position: relative;
  left: 20px;
  top: 1%;
}

.fadeout {
    position: relative;
    bottom: 5em;
    height: 4em;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.7) 50%,
        rgba(255, 255, 255, 1) 100%
    )
}

.sidebar-box {
  max-height: 120px;
  position: relative;
  overflow: hidden;
}
.sidebar-box .read-more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0; padding: 30px 0;

  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
    );
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-text h2 {
  color: hsl(0, 0%, 17%);
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding-bottom: 4%;
}

.card-text .item-description {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 4%;
}

.card-text .item-description.partial-description {
  display: flex;
}

.card-text .item-description.full-description {
  display: none;
}

.card-text .price-link {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 40px;
  border: 2px solid #AAB9CF;
  margin-bottom: 4%;
  border-radius: 25px;
  background: #1E91D6;
  cursor: pointer;
}

.card-text .price-link p {
  margin: 0 auto;
  color: white;
}

p {
  font-family: 'Arimo', sans-serif;
  color: #637381;
}

.header-video video {
  border: none;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.more-life {
  display: flex;
  justify-content: space-around;
  margin-top: -5px;
  margin-bottom: 5px;
  margin: 0 auto;
  height: 100%;
  width: 95%;
}

.product-card {
  position: relative;
  height: 450px;
  width: 300px;
  top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  z-index: 999;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  border-left: 4px solid #134074;
}

@keyframes blurNotSelected {
  0% {
    filter: blur(0px);
  }
  100% {
    filter: blur(75px);
  }
}


@keyframes easeOutBlur {
  0% {
    filter: blur(75px);
  }
  100% {
    filter: blur(0px);
  }
}

@keyframes enlargeAndCenter {
  100% {
    height: 500px;
    width: 400px;
  }
}

@keyframes resetCard {
  0% {
    height: 500px;
    width: 400px;
  }
  100% {
    height: 450px;
    width: 300px;
  }
}

@keyframes typing {
    from { width: 100% }
    to { width: 0 }
}

.card-image {
  position: relative;
  margin: 0 auto;
  height: 50%;
  width: 95%;
  border-radius: 20px 20px 0 0;
  padding-bottom: 4%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 3%;
}

.intro-text-container {
  position: relative;
}

.intro-text {
  position: absolute;
  font-size: 46px;
  left: 75px;
  top: 250px;
  width: 90%;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  color: white;
  z-index: 999;
}

.more-more-life {
  margin: 0;
  padding: 0;
  height: 60vh;
  width: 100%;
  background: blue;
}

.footer-stuff {
  height: 10vh;
  width: 100%;
  background: orange;
}
